.popular-topics-container {
  margin-bottom: 1.5em;

  .latest-topic-list {
    padding: 0;
    
    .latest-topic-list-item {
      .discourse-tags {
        font-weight: normal;
        font-size: var(--font-down-1);

        .discourse-tag {
          font-size: var(--font-down-1);
          border-radius: .25em;
          padding: .15em .25em .15em .35em;
          background-color: var(--primary-low);
          color: var(--primary) !important;
        }
      }
    }
  }
}
