.popular-topics-container {
  margin-bottom: 1.5em;

  .popular-topics-title {
    a {
      color: var(--primary);
      font-size: var(--font-up-1);
    }
  }

  .latest-topic-list {
    padding: 0;
  }
}
